@import "tailwindcss";
@font-face {
  font-family: 'Panchang';
    src: url('/fonts/Panchang_Complete/Fonts/WEB/fonts/Panchang-Semibold.woff2') format('woff2'),
       url('/fonts/Panchang_Complete/Fonts/WEB/fonts/Panchang-Semibold.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-giest: var(--font-geist), sans-serif;
  --font-space_grotesk: var(--font-space-grotesk), sans-serif;
  --font-cinzel: var(--font-cinzel), serif;

  --color-background: hsla(var(--background));
  --color-foreground: hsla(var(--foreground));

  --color-card: hsla(var(--card));
  --color-card-foreground: hsla(var(--card-foreground));

  --color-popover: hsla(var(--popover));
  --color-popover-foreground: hsla(var(--popover-foreground));

  --color-primary: hsla(var(--primary));
  --color-primary-foreground: hsla(var(--primary-foreground));

  --color-secondary: hsla(var(--secondary));
  --color-secondary-foreground: hsla(var(--secondary-foreground));

  --color-muted: hsla(var(--muted));
  --color-muted-foreground: hsla(var(--muted-foreground));

  --color-accent: hsla(var(--accent));
  --color-accent-foreground: hsla(var(--accent-foreground));

  --color-destructive: hsla(var(--destructive));
  --color-destructive-foreground: hsla(var(--destructive-foreground));

  --color-border: hsla(var(--border));
  --color-input: hsla(var(--input));
  --color-ring: hsla(var(--ring));

  --color-chart-1: hsla(var(--chart-1));
  --color-chart-2: hsla(var(--chart-2));
  --color-chart-3: hsla(var(--chart-3));
  --color-chart-4: hsla(var(--chart-4));
  --color-chart-5: hsla(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/


@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}


@layer base {

  @keyframes door-open {
    0% {
      transform: translateY(15%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }

    ;
  }

  ;

  @keyframes rad {
    0% {
      background-image: radial-gradient(circle at 0% 100%, #000000, #00000000);
    }

    100% {
      background-image: radial-gradient(circle at 0% 100%, #00000000, #00000000);
    }

    ;
  }

  ;

  .animate-rad {
    animation: rad 2s ease-in-out forwards;
  }

  .animate-door-open {
    animation: door-open 2s ease-in-out forwards;
  }

  ;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

    ;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }

    ;
  }
  @keyframes blob {
    0% {
      transform: translate3d(25, -25, 0) scale(1);
      /* transform: translateX(0); */
    }

    25% {
      transform: translate3d(-15, -25, 0) scale(1.2);
      /* transform: translateX(-50px); */
    }

    50% {
      transform: translate3d(-25, 25, 0) scale(1.4);
      /* transform: translateX(50px); */
    }

    75% {
      transform: translate3d(15, 25, 0) scale(1.2);
      /* transform: translateX(-50px); */
    }

    100% {
      transform: translate3d(25, -25, 0) scale(1); 
    }
  }

  .animate-blob {
    animation: blob 12s linear infinite;
  }

  :root {
    --background: 268 0% 100%;
    --foreground: 268 0% 10%;
    --card: 268 0% 100%;
    --card-foreground: 268 0% 15%;
    --popover: 268 0% 100%;
    --popover-foreground: 268 95% 10%;
    --primary: 268 38% 60.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 268 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 230 10% 95%;
    --muted-foreground: 268 0% 40%;
    --accent: 230 10% 90%;
    --accent-foreground: 268 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 268 0% 100%;
    --border: 268 20% 82%;
    --input: 268 20% 50%;
    --ring: 268 38% 60.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 268 0% 90%;
    --card: 268 0% 4%;
    --card-foreground: 268 0% 90%;
    --popover: 268 10% 5%;
    --popover-foreground: 268 0% 90%;
    --primary: 268 38% 60.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 268 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 230 10% 15%;
    --muted-foreground: 268 0% 60%;
    --accent: 0 0% 13%;
    --accent-foreground: 268 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 268 0% 90%;
    --border: 268 20% 18%;
    --input: 268 20% 18%;
    --ring: 268 38% 60.8%;
    --radius: 0.5rem;
  }

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white dark:bg-black max-h-dvh max-w-dvw text-foreground;
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
  }

  body::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }
.hero {
  font-family: 'Panchang', sans-serif;
  background: linear-gradient(90deg, #F2F2F2 30.29%, #515151 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
}
.btn1{
  width: 196;
height: 40;
min-width: 40px;
min-height: 40px;
gap: 8;
opacity: 1;
border-radius: 55px;
border-width: border-width/1;
padding-top: spacing/2;
padding-right: spacing/4;
padding-bottom: spacing/2;
padding-left: spacing/4;

}
  body {
    
    scrollbar-width: none;
    /* Hides scrollbar for Firefox */
  }

}